---
intro : /introduction
preoc : /preoccupations
ca : /content-awareness
proj : /projects
ss : /projects/stitch-strata
as : /projects/annealing-strategies
rt : /projects/refracted-touch
re : /projects/reconstruction-error
em : /projects/interferences
emname: Interferences
conc : /conclusion
ti : /tech
mosh : /tech/mosh
reacoma : /tech/reacoma
ftis : /tech/ftis
ref : /references
biom : https://www.jamesbradbury.xyz/projects/biomimicry
anchors: "P 08_19"
eee: "G090G10564620B7Q"
---