<script>
	import NextSection from "$lib/components/NextSection.svelte"
    import {metadata as m} from "../directory.svx"

</script>

# 4. Projects
In this section, I reflect on the compositional process for the five compositional projects and the way that content-awareness is used in computer-aided composition.

<NextSection 
next="Stitch/Strata"
link={m.ss}
/>
